@import "tailwindcss";

html,
body,
#app {
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-dm-sans: 'DM Sans', sans-serif;
    --font-fira-code: 'Fira Code', monospace;
}

:root {
    /* colors */
    --background: var(--neutral-100);
    --inactive-link: var(--neutral-600);
    --active-link: var(--neutral-700);
    --nav-bg: var(--neutral-0);
    --foreground: var(--neutral-700);
    --foreground-secondary: var(--neutral-600);
    --border-color: var(--neutral-200);

    /* neutral */
    --neutral-900: #1c1a19;
    --neutral-800: #201E1D;
    --neutral-700: #34302D;
    --neutral-600: #4A4846;
    --neutral-400: #C0BFBF;
    --neutral-300: #DEDCDA;
    --neutral-200: #EFEDEB;
    --neutral-100: #FBF9F7;
    --neutral-0: #FFFFFF;
    /* blue */
    --blue-900: #022B4A;
    --blue-800: #5792C0;
    --blue-700: #75B0DE;
    --blue-500: #93CEFC;
    --blue-200: #E1F1FE;
    /* green */
    --green-900: #132A18;
    --green-700: #008531;
    --green-500: #9DD3A9;
    --green-200: #E9F5EA;
    /* yellow */
    --yellow-900: #4A3003;
    --yellow-700: #EA9806;
    --yellow-500: #FACC79;
    --yellow-200: #FFF5E1;
    /* red */
    --red-600: #D92D20;
    --red-400: #F04438;

    .nav-link {
        color: var(--inactive-link);
    }

    .nav-link.active {
        color: var(--active-link);
    }

    /* typography */
    .text-1 {
        font-size: 40px;
        line-height: 130%;
        letter-spacing: -1px;
        font-weight: 800;
    }

    .text-2 {
        font-size: 32px;
        line-height: 130%;
        letter-spacing: -0.5px;
        font-weight: 800;
    }

    .text-3 {
        font-size: 28px;
        line-height: 130%;
        letter-spacing: -0.5px;
        font-weight: 700;
    }
    
    .text-4 {
        font-size: 24px;
        line-height: 130%;
        letter-spacing: -0.5px;
        font-weight: 600;
    }

    .text-5 {
        font-size: 20px;
        line-height: 130%;
        letter-spacing: -0.5px;
        font-weight: 600;
    }

    .text-6 {
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.5px;
        font-weight: 500;
    }

    .text-7 {
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.2px;
        font-weight: 400;
    }

    .text-7-semibold {
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.2px;
        font-weight: 600;
    }

    .text-8 {
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -0.2px;
        font-weight: 400;
    }

    .text-8-italic {
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -0.2px;
        font-weight: 400;
        font-style: italic;
    }

    .text-9 {
        font-size: 16px;
        line-height: 146%;
        letter-spacing: -0.4px;
        font-weight: 400;
    }

    .with-underline {
        position: relative;
        display: inline-block;
    }

    .with-underline::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 8px;
        background-color: var(--blue-500);
        bottom: 6px;
        left: 0;
        z-index: -1;
    }

    .link {
        position: relative;
        display: inline-block;
    }

    .link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--blue-500);
        bottom: 3px;
        left: 0;
        z-index: -1;
    }
}

.dark {
    --background: var(--neutral-900);
    --inactive-link: var(--neutral-400);
    --active-link: var(--neutral-0);
    --nav-bg: var(--neutral-800);
    --foreground: var(--neutral-0);
    --foreground-secondary: var(--neutral-400);
    --border-color: var(--neutral-700);
}

@layer base {
    body {
        @apply font-dm-sans bg-(--background) text-(--foreground);
    }
}